
div.field_with_errors {
  display: inline;
}

body {
  background: white url("/assets/bright_squares.png") top left repeat;
}

input {
  outline: none;
}

#wrapper {
  width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}

#wrapper > header {
  height: 80px;
  display: block;
}

header nav ul {
  list-style-type: none;
  float: right;
  line-height: 80px;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline;
  float: left;
}

.main {
  -webkit-box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
       -o-box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
}

#login label, .edit_project .new-task label {
  display: none;
}

#login {
  width: 380px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f7fa), to(#dbdcde));
  background: -moz-linear-gradient(-90deg, #f9f7fa, #dbdcde);
  background: -o-linear-gradient(-90deg, #f9f7fa, #dbdcde);
  border-top: thin solid white;
  -webkit-box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
       -o-box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
}

#login h2 {
  font-size: 1.0em;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  margin: 0;
  padding: 12px 0;
  border-bottom: thin solid rgba(0,0,0,0.1);
}

#login form {
  margin: 0;
  padding: 0;
  border-top: thin solid rgba(255,255,255,0.4);
}

#login .fields {
  border-bottom: thin solid rgba(0,0,0,0.1);
  padding: 25px 45px;
}

#login .controls {
  border-top: thin solid rgba(255,255,255,0.4);
  padding: 20px 45px;
}

#login input[type=text], #login input[type=password] {
  display: block;
  height: 2.5em;
  width: 290px; 
  margin: 0 auto;
  border: thin solid rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0 2px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 0px 0 2px rgba(0,0,0,0.1);
       -o-box-shadow: 0px 0px 0 2px rgba(0,0,0,0.1);
}

#login input[type=text]:focus, #login input[type=password]:focus {
  border: thin solid rgba(110,82,124,1);
  -webkit-box-shadow: 0px 0px 0 2px rgba(157, 117, 177, 1);
     -moz-box-shadow: 0px 0px 0 2px rgba(157, 117, 177, 1);
       -o-box-shadow: 0px 0px 0 2px rgba(157, 117, 177, 1);
}

#login input[type=text] {
  margin-bottom: 6px;
}

#login input[type=submit] {
  float: right;
  color: #888888;
  padding: 10px 24px;
  border: thin solid #fcfcfc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f7fa), to(#dbdcde));
  background: -moz-linear-gradient(-90deg, #f9f7fa, #dbdcde);
  -webkit-box-shadow: 0px 0px 0 3px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 0px 0 3px rgba(0,0,0,0.1);
       -o-box-shadow: 0px 0px 0 3px rgba(0,0,0,0.1);
}

section.project {
  background: #fff;
}

section.project h1 {
  display: block;
  padding: 0 0 0 20px;
  margin: 0;
  line-height: 70px;
  font-size: 2em;
  background: -moz-linear-gradient(-90deg, #f6f6f6, #e4e4e4);
}

section.project .actions {
  float: left;
  width: 360px;
  padding: 10px 0 10px 10px;
}

section.project form {
  float: right;
  width: 420px;
  background: #dfedee;
  padding: 10px 10px 10px 0;
}
section.project form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section.project form ul li {
  height: 50px;
  padding: 10px 15px;
  border-bottom: thin solid rgba(0,0,0,0.1);
  border-top: thin solid rgba(255,255,255,0.2);
}

.task {
  position: relative;
}

.task div, .new-task div {
  position: relative;
  left: 30px;
  top: -20px;
}

.task span, .new-task span {
  display: block;
}

.task .title, .new-task .title  input {
  font-weight: bold;
}

.task .due-date, .new-task .due-date {
  font-style: italic;
}

.new-task input {
  border-style: none;
  background-color: transparent;
}

section.project:after {
  content: '';
  clear: both;
  display: block;
}
